$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1880;
$md1: $maxWidthContainer + 12 + px;
$md2: 991.98px;
$md3: 768px;
$md4: 479.98px;

$white: #fff;
$yellow: #fdd700;
$red: #fd0000;
$blue: #2299eb;
$green: #08aa05;
$ice_blue: #24c5db;
$bg: #192f2d;
